@model WebApplication.Areas.Admin.ViewModels.CustomFieldValuesCreateEditViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Site"] = "Custom field values";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>CustomFieldValue</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomFieldValue.FieldValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FieldValue" class="form-control" />
                <span asp-validation-for="CustomFieldValue.FieldValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomFieldValue.CustomFieldId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomFieldValue.CustomFieldId" class ="form-control" asp-items="CustomFieldSelectList"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomFieldValue.ProjectTaskId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomFieldValue.ProjectTaskId" class ="form-control" asp-items="ProjectTaskSelectList"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

