@model Domain.StatusInProject

@{
    ViewData["Title"] = "Details";
    ViewData["Site"] = "Project statuses";
}

<h2>Details</h2>

<div>
    <h4>StatusInProject</h4>
    <hr />
    <dl class="dl-horizontal">
        
        @Html.Partial(partialViewName: "_DetailsDelete", model: Model)
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatusInProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
