@model Domain.Project

<div class="form-group">
    <label asp-for="ProjectName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ProjectName" class="form-control" />
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProjectDescription" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ProjectDescription" class="form-control" />
        <span asp-validation-for="ProjectDescription" class="text-danger"></span>
    </div>
</div>

