@model WebApplication.Areas.Admin.ViewModels.UserTitleInProjectCreateEditViewModel

<div class="form-group">
    <label asp-for="UserTitleInProject.ProjectId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="UserTitleInProject.ProjectId" class ="form-control" asp-items="Model.ProjectSelectList"></select>
    </div>
</div>
<div class="form-group">
    <label asp-for="UserTitleInProject.TitleId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="UserTitleInProject.TitleId" class ="form-control" asp-items="Model.TitleSelectList"></select>
    </div>
</div>
