@model Domain.UserTitleInProject

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTitleInProject</h4>
    <hr />
    <dl class="dl-horizontal">
        
        @Html.Partial(partialViewName: "_DetailsDelete", model: Model)

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserTitleInProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
