@model WebApplication.Areas.Admin.ViewModels.UserInProjectsViewModel
<div class="form-group">
    <label asp-for="UserInProject.User.UserName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="UserInProject.UserId" class="form-control" asp-items="Model.UserSelectList"></select>
    </div>
</div>
<div class="form-group">
    <label asp-for="UserInProject.TitleInProject.Title.Title" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="UserInProject.UserTitleInProjectId" class ="form-control" asp-items="Model.TitleSelectList"></select>
    </div>
</div>

